@import url('https://fonts.googleapis.com/css?family=Quicksand:300');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,900');

* {
  margin: 6px;
}

body {
  margin: 0;
  overflow-x: hidden;
  max-width: 100%;
}

a{
  text-decoration: none;
  color: white; 
}
#splash{
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.fa-angle-double-down{
  margin-top: 15px;
  font-size: 30px;
  opacity: 0.7;
  cursor: pointer;
  transition: all 1s ease;
}
h1, h2, h3{
  font-family: 'Quicksand', sans-serif;
  letter-spacing: .3em;
  color: rgb(243, 255, 131);
  text-transform: uppercase;
  padding: 20px; 
}
h2{
  padding-top: 100px;
}
#logo{
  width: 75%;
}

.content{
  text-align: center;
  display: flex;
  flex-flow: column;
  margin-top: 100px;
}

#splash{
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}
/* * Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #splash{
    height: 600px;
  }
  h1, h2, h3{
    font-family: 'Quicksand', sans-serif;
    letter-spacing: .3em;
    color: rgb(188, 193, 109);
    text-transform: uppercase;
    padding: 20px; 
    
  }
  .content{
    padding: 0px 100px 25px; 
  }
}


button{
  font-family: 'Quicksand', sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: .2em;
  width: 250px;
  height: 35px;
  background-color: rgb(31, 198, 142);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px 2px 8px;
  cursor: pointer;
  transition: all 1s ease;
  margin: 10px;
}
button:focus{
  outline: none;
}
button:hover{
  text-shadow: rgb(255, 255, 255);
  background-color: rgb(66, 165, 114);
  color: rgb(130, 30, 164);
}
@keyframes jump { 0% { top: 0; } 50% { top: 50px; } 100% { top: 0; } }
#arrow-down {
  position: relative;
  margin: 0 auto;
  text-align: center;
  animation: jump 5s infinite;
}
.Header{
  text-align: right;
  margin-right: 75px;
  margin-top: 40px;
  width: 100%;
}
.Header a{
  font-family: 'Quicksand', sans-serif;
  letter-spacing: .3em;
  color: rgb(45, 103, 66);
  text-transform: uppercase;
  transition: all 1s ease;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #666;
  z-index: 1;
}

::-webkit-scrollbar-thumb {
  background: rgb(39, 104, 47);
  border-radius: 5px;
}

.fa-angle-double-down:hover {
  color: rgb(35, 198, 195);
}
.Resizer {
  z-index: 1;
}

.logo {
  animation: fadein 5s;
}

@keyframes fadein {
   from { opacity: 0 }
   to { opacity: 1 }
}
