#searchBar{
    width: 33%;
    left: 50%;
    padding: 30px;
}



#particle-canvas {
    particleColor: '#e37575',
 
    interactive: true,
    speed: 'medium',
    density: 'high'
    width: 100%;
    height: 100%;
  }