#team{
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}
.single-p{
  margin: 0 auto;
  padding: 0px;
  font-size: 0.8em;
  font-weight: 600;
  letter-spacing: 0.1px;
}
.name{
  margin: 5px auto;
  font-style: normal;
  padding: 0;
}
.pro-img{
  width: 120px;
  height: 120px;
  border-radius: 100px;
}

.person{
  width: 40%;
  margin: 10px 5px;
}

/* * Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .person{
    width: 50%;
    margin: 10px 0;
  }
}

/* * Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .person{
    margin-top: 10px;
    width: 25%;
  }
}