.artemis-features{
  display: flex;
  text-align: left;
}
h4{
  font-style: italic;
  padding-bottom: 40px;
  width: 80%;
  margin: auto;
  font-weight: 300;
}
.bullets{
  margin: 30px;
  display: flex;
  flex-direction: row;
}
.fa-2x, .bullets img {
  margin-right: 20px;
}
li{
  list-style: none;
}
.demo {
  width: 65%;
  height: 65%;
}
/* * Smaller devices */
@media (max-width: 1200px) {
  .artemis-features{
    flex-direction: column-reverse;
    text-align: center;
  }
  .demo {
    width: 100%;
    height: 100%
  }
}